[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/cpp-base64"]
	path = external/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "external/dr_libs"]
	path = external/dr_libs
	url = https://github.com/mackron/dr_libs.git
